<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Very Punny Friends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script defer src="{{ url_for('static', filename='js/alpinejs/cdn.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/alpine.js') }}"></script>
</head>

<body>
    <div x-data="gameState" class="font-pressStart bg-pink-300 w-full h-screen text-white">
        <!-- Loading -->
        <div x-show="currentScreen == 'loading'" class="gameScene">
            <div class="flex flex-col gap-8 m-auto">
                <div class="m-auto">
                    <h1 class="m-auto text-3xl text-center">Loading...</h1>
                </div>
            </div>
        </div>
        <!-- !!Loading!! -->
        <!-- Home Screen -->
        <div x-show="currentScreen == 'title'" class="gameScene">
            <div class="flex flex-col gap-8 m-auto">
                <div class="m-auto">
                    <h1 class="m-auto text-3xl text-center">Very Punny<br>Friends</h1>
                </div>
                <div class="m-auto">
                    <button class="w-32 py-2 bg-indigo-800 text-white rounded" x-on:click="controlGame()">Control</button>
                </div>
            </div>
        </div>
        <!-- !!Home Screen!! -->
        <!-- Lobby -->
        <div x-show="currentScreen == 'lobby'" class="gameScene">
            <div class="flex flex-col overflow-hidden w-11/12 max-w-screen-lg h-[90vh] m-auto relative">
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 m-auto gap-2">
                    <template x-for="player in gameState.players">
                        <span x-text="player.name" class="text-sm m-auto"></span>
                    </template>
                </div>
                <div class="m-auto">
                    <button class="w-32 py-2 bg-indigo-800 text-white rounded disabled:opacity-25" x-on:click="startGame()" x-bind:disabled="Object.keys(gameState.players).length < 2">Start</button>
                </div>
            </div>
        </div>
        <!-- !!Lobby!! -->
        <!-- Game Screen -->
        <div x-show="window.location.href.includes('controller') && gameState.started" class="gameScene">
            <div class="flex flex-col overflow-hidden w-11/12 max-w-screen-lg h-[90vh] m-auto relative">
                <div class="absolute w-11/12 max-w-screen-sm mx-auto bottom-0 right-0 flex flex-row justify-center">
                    <button class="w-32 py-2 bg-indigo-800 text-white rounded m-auto" x-on:click="promptSkipLevel()">Skip</button>
                    <button class="w-32 py-2 bg-indigo-800 text-white rounded m-auto" x-on:click="promptShowScores()">Scores</button>
                    <button class="w-32 py-2 bg-indigo-800 text-white rounded m-auto" x-on:click="promptRestartGame()">Restart</button>
                </div>
            </div>
        </div>
        <!-- !!Game Screen!! -->
    </div>
</body>
</html>