<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Very Punny Friends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script defer src="{{ url_for('static', filename='js/alpinejs/cdn.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/alpine.js') }}"></script>
</head>

<body>
    <div x-data="gameState">
        <!-- Loading -->
        <div x-show="currentScreen == 'loading'" class="gameScene bg-white z-50">
            <div class="flex flex-col gap-8 m-auto">
                <div class="m-auto">
                    <h1 class="m-auto text-3xl text-center">Loading...</h1>
                </div>
            </div>
        </div>
        <!-- !!Loading!! -->
        <!-- Lobby -->
        <div x-show="currentScreen == 'title'" class="gameScene">
            <div class="flex flex-col overflow-hidden w-11/12 max-w-screen-lg h-[90vh] m-auto relative">
                <div class="absolute w-full flex">
                    <h1 class="m-auto text-3xl text-center">Very Punny Friends</h1>
                </div>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 m-auto gap-2">
                    <template x-for="player in gameState.players">
                        <span x-text="player.name" class="text-sm m-auto"></span>
                    </template>
                </div>
                <span class="absolute w-full text-center bottom-0">Waiting for more friends...</span>
            </div>
        </div>
        <!-- !!Lobby!! -->
        <!-- Game Screen -->
        <div x-show="currentScreen == 'game-screen'" class="gameScene">
            <div class="flex flex-col overflow-hidden w-11/12 max-w-screen-lg h-[90vh] m-auto relative">
                <div x-show="gameState.level_countdown > 0 && !gameState.accepting_answers" class="flex flex-col m-auto text-center">
                    <h3 class="text-3xl m-auto" x-text="gameState.level_countdown == 4 ? 'Ready?' : gameState.level_countdown"></h3>
                </div>
                <div x-show="gameState.level_countdown <= 0 && gameState.accepting_answers && !gameState.accepting_votes" class="flex flex-col gap-2 m-auto">
                    <h3 class="w-full text-lg text-center">Give Me A Punny Joke For</h3>
                    <h3 class="w-full text-5xl text-center font-bold" x-text="gameState.current_word"></h3>
                </div>
                <div x-show="gameState.level_countdown <= 0 && !gameState.accepting_answers && !gameState.accepting_votes" class="flex flex-col gap-2 m-auto">
                    <h4 class="m-auto w-full text-center text-7xl">New Punny Joke!</h4>
                </div>
                <div x-show="gameState.level_countdown <= 0 && !gameState.accepting_answers && gameState.accepting_votes" 
                    class="flex flex-col gap-2 m-auto relative h-[50vh]">
                    <div class="flex flex-col gap-2 m-auto">
                        <h4 class="m-auto w-full text-center text-5xl" x-text="gameState.current_joke"></h4>
                        <span class="m-auto text-2xl">Make your decisions now!</span>
                    </div>
                    <div class="absolute flex w-full bottom-0">
                        <div class="flex w-11/12 m-auto justify-between max-w-screen-sm relative">
                            <span class="material-symbols-outlined text-3xl">sentiment_very_satisfied</span>
                            <span x-text="gameState.voting_countdown"></span>
                            <span class="material-symbols-outlined text-3xl">sentiment_very_dissatisfied</span>
                        </div>
                    </div>
                </div>
                <div x-show="gameState.level_countdown <= 0 && gameState.accepting_answers && !gameState.accepting_votes" class="flex flex-col gap-2 m-auto">
                    <h3 class="w-full text-lg text-center">The Votes Are In!</h3>
                    <h3 class="w-full text-lg text-center">Results?</h3>
                    <h3 class="w-full text-5xl text-center font-bold" x-text="gameState.current_word"></h3>
                </div>
            </div>
        </div>
        <!-- !!Game Screen!! -->
    </div>
</body>
</html>